.hero-section {
    background: linear-gradient(transparent, rgb(0, 0, 0, 0.75), rgb(0, 0, 0, 0.75)), url("/frontend/assets/images/HomeBanner.jpg");
    background-position: center;
    width: 100%;
    height: 75vh;
    object-fit: contain;
    color: white;
    z-index: 1;
}

.hero-content h1{
    /* margin-left: 80%; */
        padding-top: 15%;
        font-size: 80px;
        font-weight: 800;
}